* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
  background-image: url(../img/bg-2.png);
  background-color: #353535;
}
@media (max-width: 600px) {
  .destaque {
    height: 30vh;
    padding: 0;
  }
}
.destaque-img {
  width: 90vw;
}
@media (max-width: 600px) {
  .destaque-img {
    height: 30vh;
    width: 100vw;
  }
}
.destaque-caixa-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.destaque-caixa-destaque-link {
  color: #fff;
  padding: 20px 50px;
  font-size: 16px;
  border: 3px solid #fff;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .destaque-caixa-destaque-link {
    font-size: 16px;
    margin-top: 18px;
    padding: 18px 45px;
  }
}
@media (max-width: 900px) {
  .destaque-caixa-destaque-link {
    font-size: 14px;
    margin-top: 16px;
    padding: 16px 40px;
  }
}
@media (max-width: 600px) {
  .destaque-caixa-destaque-link {
    font-size: 12px;
    margin-top: 14px;
    padding: 14px 35px;
    border: 2px solid #fff;
  }
}
.destaque-caixa-destaque-link:hover {
  background-color: #fff;
  color: #000;
}
.destaque-caixa-destaque-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
@media (max-width: 1000px) {
  .destaque-caixa-destaque-title {
    font-size: 45px;
  }
}
@media (max-width: 900px) {
  .destaque-caixa-destaque-title {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .destaque-caixa-destaque-title {
    font-size: 35px;
  }
}
.destaque-caixa-destaque-title-descricao {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  width-space: nowrap;
  overflow: hidden;
}
@media (max-width: 900px) {
  .destaque-caixa-destaque-title-descricao {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .destaque-caixa-destaque-title-descricao {
    font-size: 20px;
  }
}
.destaque-caixa-destaque-title .animation {
  animation: typing 4s 1s normal;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  margin: 2rem 2rem 0 2rem;
  padding: 2rem;
  background-color: #fff;
  border-top: 5px solid #ffd900;
}
.section-titulo, .section-descricao {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-titulo {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .section-titulo {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .section-titulo {
    font-size: 25px;
  }
}
.section-descricao {
  font-family: "Noto Serif Lao", serif;
  font-size: 23px;
  color: #5a5a5a;
  text-align: center;
}
@media (max-width: 1000px) {
  .section-descricao {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .section-descricao {
    font-size: 15px;
  }
}

.main {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .main {
    align-items: center;
    flex-direction: column;
  }
}
.main-itens {
  width: 900px;
}
@media (max-width: 600px) {
  .main-itens {
    width: 100%;
  }
}
.main-itens-lista {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  row-gap: 50px;
}
.main-itens-lista-categoria {
  border-top: 5px solid #ffd900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: 700;
  font-size: 21px;
  color: #353535;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.main-itens-lista-categoria-titulo {
  text-align: center;
}
.main-itens-lista-categoria-elementos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}
.main-itens-lista-cards {
  list-style: none;
  width: 15rem;
  height: 24rem;
  padding: 10px;
  display: grid;
  gap: 50px;
  align-items: center;
  transition-property: border;
  transition-duration: 0.1s;
  background-color: #ffffff;
}
.main-itens-lista-cards:hover {
  box-shadow: 1px 0px 20px #afafaf;
  border-radius: 25px;
}
.main-itens-lista-cards-img {
  height: 10rem;
  width: 13rem;
  border-radius: 20px;
}
.main-itens-lista-cards-titulo {
  font-size: 18px;
  text-transform: uppercase;
}
.main-itens-lista-cards-descricao {
  font-size: 18px;
  color: #5a5a5a;
  padding-left: 2rem;
}
.main-aside {
  margin: 0.5rem;
  background-color: #ffffff;
  width: 350px;
  padding: 1rem;
  border-top: 5px solid #ffd900;
}
@media (max-width: 600px) {
  .main-aside {
    width: 100%;
  }
}
.main-aside-titulo {
  color: #353535;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.main-aside-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-aside-lista-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  transition-property: border;
  transition-duration: 0.1s;
}
.main-aside-lista-itens:hover {
  box-shadow: 1px 0px 20px #afafaf;
  border-radius: 20px;
  cursor: pointer;
}
.main-aside-lista-itens-img {
  width: 15rem;
  border-radius: 20px;
}
.main-aside-lista-itens-titulo {
  font-family: "Roboto", sans-serif;
  color: #353535;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 18px;
}

/*# sourceMappingURL=produtos.css.map */
