@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box

.destaque
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center 
    color: white
    padding: 50px
    height: 55vh
    background-image: url(../img/1.png)
    background-size: 100vw
    background-repeat: no-repeat
    background-color: #353535

    @include mixins.notebook
        height: 50vh

    @include mixins.tablet
        height: 35vh

    @include mixins.smartphone
        height: 25vh
        padding: 0
    
    &-caixa-destaque
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        &-link
            color: #fff
            padding: 20px 50px
            font-size: 16px
            border: 3px solid #fff
            text-decoration: none
            margin-top: 20px
            cursor: pointer
            font-weight: bold

            @include mixins.notebook
                font-size: 16px
                margin-top: 18px
                padding: 18px 45px
        
            @include mixins.tablet
                font-size: 14px
                margin-top: 16px
                padding: 16px 40px

            @include mixins.smartphone
                font-size: 12px
                margin-top: 14px
                padding: 14px 35px
                border: 2px solid #fff

            &:hover
                background-color: #fff
                color: #000

        

        &-title
            font-family: 'Roboto', sans-serif
            font-size: 50px

            @include mixins.notebook
                font-size: 45px
        
            @include mixins.tablet
                font-size: 40px

            @include mixins.smartphone
                font-size: 35px

            &-descricao
                font-size: 30px
                font-weight: bold
                margin: 0 auto
                width-space: nowrap
                overflow: hidden

                @include mixins.tablet
                    font-size: 25px

                @include mixins.smartphone
                    font-size: 20px
            
            .animation
                animation: typing 4s 1s normal

                // @keyframes typing
                //     0% {
                //         width: 0
                //     } 
                        
                //     100% {
                //         width: 18em
                //     }
                        

                @include mixins.notebook
        
                @include mixins.tablet

                @include mixins.smartphone

        
        


.section
        @include mixins.centralizar
        flex-direction: column
        row-gap: 5px
        margin: 2rem 2rem 0 2rem
        padding: 2rem
        background-color: #fff
        border-top: 5px solid variables.$ilustrator-color

        &-titulo, &-descricao
            @include mixins.centralizar
            text-align: center

        &-titulo
            font-family: 'Roboto', sans-serif
            font-size: 25px
            text-transform: uppercase

            @include mixins.notebook
                font-size: 20px

            @include mixins.tablet
                font-size: 18px

        &-descricao
            font-family: 'Arial', sans-serif
            font-size: 18px
            color: #5a5a5a
            text-align: center

            @include mixins.notebook
                font-size: 20px

            @include mixins.tablet
                font-size: 15px

.main
    padding: 1.5rem
    display: flex
    align-items: flex-start
    @include mixins.smartphone
        align-items: center
        flex-direction: column

    &-itens
        width: 900px
            
        @include mixins.smartphone
            width: 100%
            
        &-lista
            display: flex
            justify-content: center
            flex-direction: column
            padding: 10px         
            row-gap: 50px     
            

            &-categoria
                border-top: 5px solid variables.$ilustrator-color
                @include mixins.centralizar
                padding: 2rem
                font-weight: 700
                font-family: 'Roboto', sans-serif
                font-size: 15px
                text-transform: uppercase
                color: variables.$secondary-color
                background-color: variables.$bg-color
                display: flex
                flex-direction: column
                row-gap: 50px

                @include mixins.tablet
                    font-size: 16px

                @include mixins.tablet
                    font-size: 15px

                &-titulo
                    text-align: center

                &-elementos
                    display: flex
                    flex-wrap: wrap
                    column-gap: 20px
                    justify-content: center

            &-cards
                list-style: none
                width: 15rem
                height: 24rem
                padding: 10px
                display: grid
                gap: 50px
                align-items: center
                transition-property: border
                transition-duration: 0.1s
                background-color: variables.$bg-color

                &:hover
                    box-shadow: 1px 0px 20px #afafaf
                    border-radius: 25px


                &-img
                        height: 10rem
                        width: 13rem
                        border-radius: 20px


                &-descricao
                    list-style: circle
                    font-size: 15px
                    color: #5a5a5a
                    padding-left: 2rem

                    @include mixins.tablet
                        font-size: 14px

                    @include mixins.smartphone
                        font-size: 13px



    &-aside
            margin: 0.5rem
            background-color: variables.$bg-color
            width: 350px
            padding: 1rem
            border-top: 5px solid variables.$ilustrator-color

            @include mixins.smartphone
                width: 100%
                

            &-titulo
                color: variables.$secondary-color
                text-align: center
                margin: 20px auto
                font-weight: bolder
                font-family: 'Roboto', sans-serif
                font-size: 20px
                text-transform: uppercase

                @include mixins.tablet
                    font-size: 19px

                @include mixins.smartphone
                    font-size: 18px

            &-lista
                @include mixins.centralizar
                flex-direction: column

                &-itens
                    @include mixins.centralizar
                    flex-direction: column
                    padding: 15px
                    gap: 10px
                    transition-property: border
                    transition-duration: 0.1s

                    &:hover
                        // border: 1px solid variables.$secondary-color
                        box-shadow: 1px 0px 20px #afafaf
                        border-radius: 20px
                        cursor: pointer

                    &-img
                        width: 15rem
                        border-radius: 20px

                    &-titulo
                        font-family: 'Roboto', sans-serif
                        color: #5a5a5a
                        margin: 10px 0 
                        text-transform: uppercase
                        font-size: 16px

                            
        